// Fuentes
$fuente_principal: 'Plus Jakarta Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$desktop: 1440px;

// ### Neutral
$White: hsl(0, 0%, 100%);
$Very-light-grayish-blue: hsl(210, 60%, 98%);
$Light-grayish-blue-1: hsl(211, 68%, 94%);
$Light-grayish-blue-2: hsl(205, 33%, 90%); // 
$Grayish-blue: hsl(219, 14%, 63%);
$Dark-grayish-blue: hsl(219, 12%, 42%);
$Very-dark-blue: hsl(224, 21%, 14%);


// Colores-Primarios
$Red: hsl(1, 90%, 64%);
$Blue: hsl(219, 85%, 26%);

// Fuentes
// $regular : 400;
$normal: 500;
// $bold: 700;
$black: 800;